
.aboutus {
    padding-top: 4.5rem;
    padding-right: 0rem;
    margin-left: 0;
    margin-right: 0;
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(#e66465, #9198e5);
    max-width: fit-content;
    align-items: center;
    justify-content: center ;
}

.row{
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    padding: 0rem 0rem 0rem 0rem;
}

.column__aboutus {
    margin: 0 0 0 0;
    width: 100%;
    margin-bottom: 1rem;
    padding: 0rem 0rem 1rem 1rem;
}

.temp{
    display: flex;
    flex-direction: row;
}

.card {
    box-shadow: 0 0.5rem 0.rem 0 rgba(0, 0, 0, 0.2);
    width: 50%;
    height: 30%;
}

.img{
    width: 275px;
    height: 275px;
    padding: 1rem 1rem 1rem 1rem;
}

.about-section {
    padding: 0rem;
    text-align: center;
    background-color:  linear-gradient(#e66465, #9198e5);
    color: black;
    margin-top: 1rem;
    font-family: var(--font-family);
}

.container {
    width: 275px;
    padding-left: 1rem;
    margin: 10px;
}



.title {
    color: black;
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 600;
    line-height: 35px;
    color: black;
}

.email{
    color: darkblue;
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 600;
    line-height: 35px;
    cursor: pointer;
}

.button {
    border: none;
    
    display: inline-block;
    padding: 1rem;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: #555;
}

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}