.g__blog {
    display: flex;
    flex-direction: row; 
    padding: 0% 0%;
    outline: auto;
    
}
.g__blog-heading {
    width: 100%;
    text-align: left;
    margin-bottom: 5rem;
    color: var(--font-family);
}

.g__blog-heading h1 {
    font-size: 62px;
    line-height: 75px;
    font-family: var(--font-family);
    font-weight: 800;
    color: var(--font-family);
}

.g__blog-container {
    display: flex;
    flex-direction: row;
    scroll-behavior: smooth;
    padding: 1rem;
    margin: 1rem;
    width: 70rem;
    max-width: 100rem;
    overflow-x: scroll;

}


.g__blog-container_groupA {
    flex: 0.75;
    margin-right: 1rem;
    scroll-behavior: smooth;
    padding: 20px;
    margin: 20px;
    
}

.g__blog-container_groupB {
    flex: 1;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
}

@media screen and (max-width: 990px) {
    .g__blog-container {
        flex-direction: column-reverse;
    }


    .g__blog-container_groupA {
        margin: 1rem 0;
    }

    .g__blog-container_groupA .g__blog-container_article  {
        width: 48%;
    }

    .g__blog-container_groupA .g__blog-container_article-image {
        height: 250px;
    }
}

@media screen and (max-width: 700px) {
    .g__blog-container_groupB {
        grid-template-columns: repeat(1, 1fr);
    }

    .g__blog-container_groupA .g__blog-container_article  {
        width: 100%;
    }

    .g__blog-heading h1 {
        font-size: 46px;
        line-height: 52px;
    }
}

@media screen and (max-width: 550px) {
    .g__blog-heading h1 {
        font-size: 34px;
        line-height: 42px;
    }

}